<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratório</title>
    <link rel="stylesheet" href="especifico.css" />
</head>
<body>
    <div id="principal">
        <h1>E Qual o problema do Laboratorio de informatica 1, Daniel?</h1>
        <hr>
    </div>

    <div class="secao">
      
        <button>❄️ Ar condicionado</button>
        <button>🪑 Cadeira</button>
        <button>📽️ Projetor</button>
        <button>🖱️⌨️ Mouse/Teclado</button>
        <button>🪟 Mesa</button>
        <button>🖼️ Quadro</button>
        <button>🖥️ Computador</button>

    </div>
</body>
</html>
