<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratório</title>
    <link rel="stylesheet" href="local-especifico.css" />
</head>
<body>
    <div id="principal">
        <h1>Qual Laboratório?</h1>
    </div>

    <div class="secao">
        <h2>Informática</h2>
        <hr>
        <button>Informática 1</button>
        <button>Informática 2</button>
        <button>Informática 3</button>
        <button>Informática 4</button>
        <button>Informática 5</button>
    </div>

    <div class="secao">
        <h2>Elétrica</h2>
        <hr>
        <button>Elétrica 1</button>
        <button>Elétrica 2</button>
        <button>Elétrica 3</button>
        <button>Elétrica 4</button>
        <button>Elétrica 5</button>
    </div>

    <div class="secao">
        <h2>Mecanica</h2>
        <hr>
        <button>Mecanica 1</button>
        <button>Mecanica 2</button>
        <button>Mecanica 3</button>
        <button>Mecanica 4</button>
        <button>Mecanica 5</button>
    </div>
</body>
</html>
